<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
</head>
<body>


    <div style="margin:5px">
        <form action="/chat" method="get">
            <input type="text" placeholder="Enter your message" name="message"/>
            <button type="submit">Send</button>
        </form>
    </div>

    <div style="border:2px solid black; padding:5px">
        {{#serverMessages}}
                <br>{{.}}</br>
        {{/serverMessages}}
    </div>



</body>
</html>